html {
    scroll-behavior: smooth;
    font-size: 62.5%; /* Now 10px = 1rem! */
    font-family: $font-primary;
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
    
body {
    background-color: $negro-satinado;
    color: $blanco;
    font-size: 1.6rem; /* default font-size for document */
    line-height: 1.5; /* a nice line-height */
}


a{
  text-decoration: none;
  color: $blanco;
  text-transform: uppercase;
  font-weight: bold;
}


section{
  padding: 4rem 0 2rem;
  // border: 1px solid red;  
}

img{
  max-width: 100%;
  height: auto;
}

h1{
  font-size: 3rem;
}
h2{
  color: $azul;
  font-size: 1.4rem;
}
h3{
  font-size: 1.2rem;
}

p{
  font-size: 1.2rem;
}

@media (min-width:560px) {
  h1{
    font-size: 3.4rem;
  }
   h2{
     font-size: 2.4rem;
   }
   h3{
     font-size: 2.2rem;
   }
   p{
    font-size: 1.6rem;
  }
}

  .up{
    position: fixed;
    bottom: 5%;
    right: 5%;
    background-color: $azul;
    border: 1px solid gray;
    border-radius: 1rem;
    padding: .5rem;
    opacity: .2;
    z-index: 100;
  }
  .up:hover{
    opacity: 1;
  }


