// Variables

$negro: #171717;
$negro-satinado: #282828;
$blanco: #FFFFFF;
$gris-claro: #F3F3F3;
$azul: #6d9bff;
$azul-oscuro: #103777;
$fucsia-oscuro-tranparente:#81132dc4;
$fucsia-oscuro:#81132d;
$fucsia:#FD2155;
$fucsia-claro:#FD9BB7;
$morado-claro: #BB8EFF;
$turquesa: #20D5D2;
$verde-amarillo: #BFD732;
$verde-amarillo-opaco: #8CC63F;

$font-primary: 'Noto Sans JP', sans-serif;